.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.swiper-pagination-bullet {
   width: 30px;
   height: 3px;
   border-radius: 0;
   opacity: 0.5;
   background-color: white;
}  
.swiper-pagination-bullet-active {
     opacity: 1;
 }  